<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="42 Seoul Event Calendar" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/favicons/our42vent.ico" rel="short icon" type="image/x-icon" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/stylesheets/style_desktop.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Rounded" />
  </head>
  <body>
    <div class="layout">
      <header class="header">
        <div class="header-logo">
          <a href="/"
            ><img
              class="header-logo-img"
              src="/assets/images/our42vent_logo_white.svg"
              alt="42 logo"
          /></a>
        </div>
        <div class="header-month"></div>
        <div class="header-user">
          <span class="user-username large text-bold"><%- username %></span>
          <div class="user-image-wrapper">
            <img class="user-imageurl" src="<%= profileImage %>" alt="user profile image" />
          </div>
        </div>
      </header>
      <nav class="navbar">nav</nav>
      <main class="main"><%- content %><%- defineContent('eventForm') %></main>
      <footer class="footer">
        <p class="footer-developers small">
          <a href="https://github.com/42ghan" target="_blank">ghan</a> &nbsp|&nbsp
          <a href="https://github.com/jis-kim" target="_blank">jiskim</a> &nbsp|&nbsp
          <a href="https://github.com/sehhong3317" target="_blank">sehhong</a> &nbsp|&nbsp
          <a href="https://github.com/yongjulejule" target="_blank">yongjule</a>
        </p>
        <p class="footer-copyright small">© 2021 42 Seoul, Innovation Academy</p>
      </footer>
    </div>
  </body>
</html>
