<!DOCTYPE html lang="ko">
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="42 Seoul Event Calendar" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/favicons/our42vent.ico" rel="short icon" type="image/x-icon" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style_desktop.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer type="module" src="/javascripts/headerUser/adjustNameSize.js"></script>
    <script defer type="module" src="/javascripts/headerUser/userDropDown.js"></script>
    <script defer type="module" src="/javascripts/eventForm/checkTime.js"></script>
    <script defer type="module" src="/javascripts/eventForm/clickNewEventButton.js"></script>
    <script defer type="module" src="/javascripts/eventForm/eventFormDisplay.js"></script>
    <%- defineContent('scriptFiles') %>
  </head>
  <body>
    <div class="layout">
      <header class="header">
        <div class="header-logo">
          <a href="/"
            ><img
              class="header-logo-img"
              src="/assets/images/our42vent_logo_white.svg"
              alt="42 logo"
          /></a>
        </div>
        <div class="header-title">
          <i class="material-icons title-prev">arrow_back_ios_new</i>
          <div class="title-calendar">
            <h2 class="title-calendar-month xlarge"></h2>
            <h3 class="title-calendar-year"></h3>
          </div>
          <i class="material-icons title-next">arrow_forward_ios</i>
        </div>
        <div class="header-user">
          <div class="user-drop-button">
            <span class="user-username large text-bold"><%= username %></span>
            <div class="user-image-wrapper">
              <img class="user-imageurl" src="<%= profileImage %>" alt="user profile image" />
            </div>
          </div>
          <ul class="user-drop-content hidden">
            <a href="#"><li class="text-bold">내가 생성한 이벤트</li></a
            ><a href="/logout"><li class="text-bold">로그아웃</li></a>
          </ul>
        </div>
      </header>
      <nav class="navbar">nav</nav>
      <main class="main"><%- content %><%- defineContent('eventForm') %></main>
      <footer class="footer">
        <p class="footer-developers small">
          <a href="https://github.com/42ghan" target="_blank">ghan</a> &nbsp|&nbsp
          <a href="https://github.com/jis-kim" target="_blank">jiskim</a> &nbsp|&nbsp
          <a href="https://github.com/sehhong3317" target="_blank">sehhong</a> &nbsp|&nbsp
          <a href="https://github.com/yongjulejule" target="_blank">yongjule</a>
        </p>
        <p class="footer-copyright small">© 2021 42 Seoul, Innovation Academy</p>
      </footer>
    </div>
  </body>
</html>
