<%- contentFor('scriptFiles') %>
<script defer type="module" src="/javascripts/eventList/setLayoutForEventList.js"></script>
<script defer type="module" src="/javascripts/eventForm/checkTime.js"></script>
<script defer type="module" src="/javascripts/eventForm/clickNewEventButton.js"></script>
<script defer type="module" src="/javascripts/eventForm/eventFormDisplay.js"></script>
<%- contentFor('content') %>
<section class="eventlist"></section>
<%- contentFor('eventForm') %> <%- include('components/eventForm') %> <%-
contentFor('eventPromotion') %> <%- include('components/eventPromotion') %>
