<%- contentFor('scriptFiles') %>
<script defer type="module" src="/javascripts/eventList/rendEventListPage.js"></script>
<%- contentFor('content') %>
<section class="eventlist"></section>
<%- contentFor('eventForm') %> <%- include('components/eventForm') %> <%- contentFor('eventDetails')
%> <%- include('components/eventDetails') %>
