<%- contentFor('scriptFiles') %>
<script defer type="module" src="/javascripts/nav/initCheckboxes.js"></script>
<script defer type="module" src="/javascripts/calendar/month/generateMonth.js"></script>
<script defer type="module" src="/javascripts/calendar/month/clickToday.js"></script>
<script defer type="module" src="/javascripts/calendar/month/changeMonth.js"></script>
<script defer type="module" src="/javascripts/nav/categoryFilterHandler.js"></script>
<script defer type="module" src="/javascripts/nav/tabSelectHandler.js"></script>
<script defer type="module" src="/javascripts/calendar/month/resizeHandler.js"></script>
<%- contentFor('headerTitle') %>
<div class="header-title">
  <i class="material-icons title-prev">arrow_back_ios_new</i>
  <div class="title-calendar text-center">
    <h2 class="title-calendar-month xlarge"></h2>
    <h3 class="title-calendar-year"></h3>
  </div>
  <i class="material-icons title-next">arrow_forward_ios</i>
</div>
<%- contentFor('content') %>
<section class="calendar-month"></section>
<%- contentFor('eventForm') %> <%- include('components/eventForm') %> <%- contentFor('eventDetails')
%> <%- include('components/eventDetails') %> <%- contentFor('eventPromotion') %> <%-
include('components/eventPromotion') %>
